# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties

# Web
web/

# Generated
lib/core/config/app_router.g.dart
*.g.dart
*.freezed.dart

# OS
.DS_Store
